.addcolor {
	color: blue;
}
.large {
	font-size: 2em;
}
.capture {
	border: 2px solid red;
}
.rounded {
	border-radius: 8px;
}
section:first-child {
	font-style: italic;
	font-weight: bold;
}
section:last-child {
	font-style: italic;
}
button {
	display: block;
}